<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Part Mill — CNC tool path &amp; G-code generator based on WebGL &nbsp;</title>
  <meta name="description" content="Web-based tool for creating G-code from STL models. Runs completely in the browser and Open Source. Inspired by OpenJSCAD and PyCAM. For Shapeoko and other CNC milling machines."/>
  <meta property="og:title" content="Part Mill"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://partmill.com/" />
  <meta property="og:image" content="https://partmill.com/img/screenshot.png"/>
  <meta property="og:description" content="Web-based tool for creating G-code from STL models. Runs completely in the browser and Open Source."/>
  <meta property="og:locale" content="en_GB"/>
  <meta property="og:locale:alternate" content="en_US" />
</head>

<body>
  <div id="root"></div>


  <script src="js/libs/lightgl.js"></script>
  <script src="js/libs/csg.js"></script>
  <script src="js/libs/jquery.js"></script>
  <script src="js/libs/jquery.hammer.js"></script>

  <script src="js/csg-additions.js"></script>
  <script src="js/openjscad.js"></script>
  <script src="js/parse-stl.js"></script>
  <script src="js/file-drop.js"></script>
  <script src="js/shapes/monkey.js"></script>

  <script src="js/strategies/strategy.js"></script>
  <script src="js/strategies/slice.js"></script>
  <script src="js/strategies/surface.js"></script>
  <script src="js/strategies/progressive-surface.js"></script>

  <script src="js/app.js"></script>
  <script src="js/bundle.js?<%= version %>"></script>
</body>
</html>
